<div class="container">
    <table class="table" style="width: 100%;">
        <thead>
            <th>img</th>
            <th>name</th>
            <th>size</th>
        </thead>
        <tr *ngFor="let v of userObj">
            <td><img [src]=v.userImgLink alt="..." height="100px" width="100px"></td>
            <td>{{v.name}}</td>
            <td>{{v.size}}</td>
            <td><button class="btn btn-outline-success">update</button></td>
            <td><button class="btn btn-outline-danger">delete</button></td>
        </tr>
    </table>

</div>

