
<p class="display-6 text-secondary text-center mt-3">Adding product</p>

<form class="row g-3 mt-5 bg-light p-3" #formRef="ngForm" (ngSubmit)="formRef.form.valid&&onSubmit(formRef)">
    

    
    <!-- username -->
    <div class="col-12">
        <label for="inputname" class="form-label"> Product name</label>
        <input type="text" class="form-control" id="inputname" name="name" ngModel required #name="ngModel">
        <!-- validation for username -->
        <span class="text-danger" *ngIf="(name.touched || formRef.submitted) && name.errors?.required">
            name is required
        </span>
    </div>

    
    
    <!-- size-->
    <div class="col-md-4">
        <label for="inputSize" class="form-label">Size</label><br>
        <select id="inputSize" class="form-select" name="size" ngModel required #size="ngModel">
            <option selected>Choose...</option>
            <option value="small">small</option>
            <option value="middle">middle</option>
            <option value="large">large</option>
            <option value="extra large">extra large</option>
        </select>
        <!-- validation for state -->
        <span class="text-danger" *ngIf="(size.touched || formRef.submitted) && size.errors?.required">
            size is required
        </span>
    </div>

    <!--photo-->
    <div class="col-12 pt-2">
            <input type="file" class="form-control" (change)="incomingfile($event)" name="photo" accept='image/*'
                placeholder="Upload file">
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>
