<div class="container-fluid" style="background-image: url(./assets/image1.jpg);">
  <div>
        <nav class="navbar sticky-top navbar-expand-lg navbar-light " style="background-color:darkgrey">
          <div class="container-fluid">
              <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item ">
                    <a class="nav-link active" aria-current="page" routerLink="#" routerLinkActive="active">WOMEN</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" routerLink="#" routerLinkActive="active">MEN</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" routerLink="#" routerLinkActive="active">KIDS</a>
                  </li>
                </ul>
              </div>
              </div>
          </nav>
        </div>    
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./assets/img1.webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./assets/e6.webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./assets/e7.webp" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="container mt-5">
          <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 p-5">
             
                <div class="card mb-3" style="width: 18rem;" *ngFor="let v of userObj">
                    <img [src]=v.userImgLink class="card-img-top mx-auto" alt="..." height="100%" width="100%">
                <div class="card-body">
                    <h5 class="card-title">{{v.name}}</h5>
                    <p class="card-text">{{v.size}}</p>
                    <div>
                      <a routerLink="#" (click)="view(v.name)" style="text-align: center;">view</a>
                  </div>
                  
                </div>
                
            </div>
        </div>
      </div>
    </div>
    <div class="container">
        <router-outlet></router-outlet>
    </div>